@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

label, p {
  font-family: 'Roboto Condensed', sans-serif;
}



.app {
  height: 100vh;
  width: 100vw;
}

#map {
  height: 100%;
}

.listings-container {
  position: absolute;
  height: 80vh;
  width: 25vw;
  margin-left: 5vw;
  margin-top: 10vh;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 1;
  padding: 2%;
}



/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
