@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

div, label, p, li, strong {
  font-family: 'Roboto Condensed', sans-serif;
}

.filtered-pubs-titles {
  color: #731725;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  padding-bottom: 1%;
}

a {
  text-decoration: none;
}

.hint {
  font-size: 0.7em;
  font-style: italic;
}

.app {
  height: 100vh;
  width: 100vw;
}

#map {
  height: 100%;
}

.filter-button {
  display: none;
  position: absolute;
  text-align: center;
  font-size: 1em;
  color: #fff;
  margin-left: 3vw;
  margin-top: 3vh;
  /* width: 7em;
  height: 7em; */
  padding: 1%;
  /* width: 40px; */
  /* height: 40px; */
  border: 1px solid #fff;
  background-color: #731725;
  /* border-radius: 50%; */
  /* background-opacity: 0.50; */
  z-index: 3;
}

.listings-container{
  display: none;
  position: absolute;
  /* height: 80%; */
  width: 25vw;
  min-width: 180px;
  margin-left: 3vw;
  margin-top: 10vh;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 1;
  padding: 2%;
}

.display {
  display: block;
}

.info-box {
  position: absolute;
  z-index: 2;
  /* margin-left: auto; */
  /* margin-top: 50%;
  transform: translateY(-50%); */
  width: 30%;
  min-height: 40%;
  /* overflow: auto; */
  margin-right: 3%;
  margin-top: 3%;
  /* margin: auto; */
  /* top: 0; left: 0; bottom: 0; right: 0; */
  border: 1px solid black;
}

.close-info-box {
  display: block;
  width: 100%;
  border: none;
  background-color: #fff;
  float: right;
  text-decoration: none;
  color: #731725;
  font-size: 1rem;
  cursor: pointer;
  text-align: right;
}

.info-box-message {
  text-align: justify;
}

.img-container {
  width: 100%;
  /* height: 100%; */
  margin: auto;
  /* border: 1px solid #000; */
}

.pub-img {
  width: 100%;
  border: 1px solid #000;
}

@media only screen and (max-width: 600px) {
  input {
    border: 1px solid #a1a1a1;
  }

  .info-box {
    width: 50%;
  }

  .close-info-box {
    background-color: #fff;
  }


}
